<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
  
   <div class="container">
    
     <div class="box">
                   <a href="https://images.unsplash.com/photo-1699354511301-ec6be76db29f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://images.unsplash.com/photo-1699354511301-ec6be76db29f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNXx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
    <div class="box">
                   <a href="https://images.unsplash.com/photo-1699103460899-889883dfc64f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NXx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://images.unsplash.com/photo-1699103460899-889883dfc64f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NXx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
       
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1699174526255-46b63b9f5b91?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D" >
                   <img src="https://images.unsplash.com/photo-1699174526255-46b63b9f5b91?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1522972592771-e273fa3e95b0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://images.unsplash.com/photo-1522972592771-e273fa3e95b0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
         
   <div class="box">
                   <a href="https://images.unsplash.com/photo-1505444768625-3f88ff49281a?q=80&w=1430&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" >
                   <img src="https://images.unsplash.com/photo-1505444768625-3f88ff49281a?q=80&w=1430&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image"></a>
               <div class="caption">Lorem ipsum </div>
     </div> 
   
   </div>
       
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script src="app.js"></script>                     
   
</body>
</html>